/*  */

.hero_img{
    width: 100%;
    height: 100vh;
    background: url("../../assets/hero.png") no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* @media screen and ( max-width: 768px ){
    .hero_img{
        background-position: center right;
    }
}
@media screen and ( max-width: 640px ){
    .hero_img{
        background-position: right center;
    }
}
@media screen and ( max-width: 425px ){
    .hero_img{
        background-position: center center;
    }
}  */


/*  */