/*  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* ::-webkit-scrollbar{
  width: 8px;
} */

/* Custom Scrollbar */
::-webkit-scrollbar{
  width: 10px;
  background: #1f1f38;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #262644;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #292947;
  border-radius: 10px;
}

/*  */


.main_section{
  background: #1f1f38;
}


/*  */